<head>
    <link rel="stylesheet" href="/static/index.js">
</head>



{% extends "base.html" %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5>Profili Düzenle</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="{{ url_for('edit_profile') }}">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            {{ form.username.label }}
                            {{ form.username(class="form-control") }}
                        </div>

                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email(class="form-control") }}
                        </div>

                        <div class="form-group">
                            {{ form.password.label }}
                            {{ form.password(class="form-control", placeholder="Yeni Şifre Girin (isteğe bağlı)") }}
                        </div>

                        <div class="form-group">
                            {{ form.confirm_password.label }}
                            {{ form.confirm_password(class="form-control", placeholder="Şifreyi Onaylayın") }}
                        </div>

                        <button type="submit" class="btn btn-success btn-block" onclick="saveChanges()">Değişiklikleri Kaydet</button>
                    </form>
                    <a href="{{ url_for('profile') }}"></a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
